{{define "title"}}Dashboard{{end}}




{{define "content"}}
<div class="flex flex-col md:flex-row">
    <div class="card bg-base-100 shadow-xl flex-1 mx-2 my-5">
        <div class="card-body justify-center">
          <h2 class="card-title justify-center">My profile</h2>
          <div class="card-actions justify-center">If a dog chews shoes whose shoes does he choose?</div>
          <div class="card-actions justify-center">
            <button class="btn btn-primary">Buy Now</button>
          </div>
        </div>
      </div>
      <div class="card bg-base-100 shadow-xl flex-1 mx-2 my-5">
        <div class="card-body justify-center">
          <h2 class="card-title justify-center">My profile</h2>
          <p>If a dog chews shoes whose shoes does he choose?</p>
          <div class="card-actions justify-center">
            <button class="btn btn-primary">Buy Now</button>
          </div>
        </div>
      </div>
      <div class="card bg-base-100 shadow-xl flex-1 mx-2 my-5">
        <div class="card-body justify-center">
          <h2 class="card-title justify-center">My profile</h2>
          <p>If a dog chews shoes whose shoes does he choose?</p>
          <div class="card-actions justify-center">
            <button class="btn btn-primary">Buy Now</button>
          </div>
        </div>
      </div>
      <div class="card bg-base-100 shadow-xl flex-1 mx-2 my-5">
        <div class="card-body">
          <h2 class="card-title">My profile</h2>
          <p>If a dog chews shoes whose shoes does he choose?</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary">Buy Now</button>
          </div>
        </div>
      </div>
</div>



{{end}}

{{define "javascript"}}


{{end}}
