{{define "title"}}Profile{{end}}



{{define "hero"}}
<div class="hero" style="height:500px;background-image:
  url(https://resize.indiatvnews.com/en/resize/newbucket/1200_-/2018/07/amazon-1200x537-1-1531806703.jpg);">
  <div class="hero-overlay bg-opacity-60"></div>

</div>


{{end}}

{{define "content"}}
<div class="flex justify-center ">
  <div class="-mt-36  bg-white mb-6 shadow-xl rounded-lg flex-1 max-w-2xl">
    <img
    src="http://t3.gstatic.com/licensed-image?q=tbn:ANd9GcQcKtPg4LQ1A7_j_7_ph7FfTTTjQrnqOdC2EPUHdeqAZ01JOImw19i9gvYHROXo0HahI13E_dZ1ZekfGEE"
    class="mx-auto -mt-16 shadow-xl border-solid border-2 border-gray-300 w-44 rounded-lg">
    <div class="mx-auto p-5 ">
      <div class="text-center mt-12">
        <h3 class="text-4xl font-semibold leading-norma text-blueGray-700">
          Peter parker
        </h3>
        <div class="text-sm leading-normal mt-0 mb-2 text-blueGray-400 font-bold uppercase">
          <i class="fas fa-map-marker-alt mr-2 text-lg text-blueGray-400"></i>
          Los Angeles, California
        </div>
        <div class="mb-2 text-blueGray-600 mt-10">
          <i class="fas fa-briefcase mr-2 text-lg text-blueGray-400"></i>Solution Manager - Creative Tim Officer
        </div>
        <div class="mb-2 text-blueGray-600">
          <i class="fas fa-university mr-2 text-lg text-blueGray-400"></i>University of Computer Science
        </div>
      </div>
      
    </div>
  </div>

  
  
</div>

<!--<div class="">
  <div class="relative flex flex-col min-w-0 break-words bg-white mb-6 shadow-xl rounded-lg -mt-48">
    <img
      src="http://t3.gstatic.com/licensed-image?q=tbn:ANd9GcQcKtPg4LQ1A7_j_7_ph7FfTTTjQrnqOdC2EPUHdeqAZ01JOImw19i9gvYHROXo0HahI13E_dZ1ZekfGEE"
      class="mx-auto -mt-16 shadow-xl border-solid border-2 border-gray-300 w-44 rounded-lg">
    <div class="mx-auto p-5 ">
      <div class="text-center mt-12">
        <h3 class="text-4xl font-semibold leading-norma text-blueGray-700">
          Peter parker
        </h3>
        <div class="text-sm leading-normal mt-0 mb-2 text-blueGray-400 font-bold uppercase">
          <i class="fas fa-map-marker-alt mr-2 text-lg text-blueGray-400"></i>
          Los Angeles, California
        </div>
        <div class="mb-2 text-blueGray-600 mt-10">
          <i class="fas fa-briefcase mr-2 text-lg text-blueGray-400"></i>Solution Manager - Creative Tim Officer
        </div>
        <div class="mb-2 text-blueGray-600">
          <i class="fas fa-university mr-2 text-lg text-blueGray-400"></i>University of Computer Science
        </div>
      </div>
    </div>
  </div>
  <div class="relative flex-col">Hello this is something</div>
</div>-->

{{end}}